@charset "UTF-8";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
 

/*헤더*/
.header{
    display: flex; /* Flexbox를 사용하여 가로 정렬을 설정합니다. */
    justify-content: right; /* 가운데 정렬을 설정합니다. */
    color: #6B95BB;
}

.header_wel{
    font-size: 15px;
    
}

.header_login{
    font-size: 15px;
}

.header_join{
    font-size: 15px;
}

.header_login:link{
    color: #6B95BB;
    text-decoration-line: none;
}

.header_login:visited{
    color: #6B95BB;
    text-decoration-line: none;
}

.header_join:link{
    color: #6B95BB;
    text-decoration-line: none;
}

.header_join:visited{
    color: #6B95BB;
    text-decoration-line: none;
}

.login_section{
    list-style: none;
    display: flex;
}

.logo_area {
    max-width: 1280px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
/*헤더*/

/*헤더 상단 아이콘*/
.my_icon_img{
    width: 20px;
    height: 20px;
    margin-top: auto;
    filter: invert(54%) sepia(76%) saturate(220%) hue-rotate(167deg) brightness(91%) contrast(89%);
    text-decoration-line: none;
}

.cart_icon_img{
    width: 20px;
    height: 20px;
    filter: invert(54%) sepia(76%) saturate(220%) hue-rotate(167deg) brightness(91%) contrast(89%);
    text-decoration-line: none;
}

.btn_search_open_img{
    width: 20px;
    height: 20px;
    text-decoration-line: none;
}

.my_icon{
    text-decoration-line: none; 
}

.cart_icon{
    text-decoration-line: none; 
}

.btn_search_open{
    text-decoration-line: none; 
}
/*헤더 상단 아이콘*/

/* 검색버튼 */
.header_search{
    margin: 0; 
    padding: 0;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    align-content: center;
}
.box{
    position: relative;
}

.input {
    padding: 10px;
    width: 20px;
    height: 20px;
    background: none;
    border: 2px solid #6B95BB;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #6B95BB;
    outline: none;
    transition: .5s;
    
}
.box:hover input{
    width: 150px;
    background: azure;
    border-radius: 10px;
}
.box i{
   position: absolute;
    top: 45%;
    right: -1px;
    transform: translate(-50%,-50%);
    font-size: 13px;
    font-weight: bold;
    color: #6B95BB;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

/* 헤더 로고 */
#main_logo{
    text-align: center;
}

.main_logo_img{
    width: 200px;
    height: 180px;
}
/* 헤더 로고 */

/* 헤더 카테고리 */
.menu{
    text-align: center;
}

.category{
    text-decoration: none;
    color: #6B95BB;
    margin: auto;
}

.menu ul,li{
    list-style-type: none;
}
/* 헤더 카테고리 */

.menu>ul>li{
    display: inline-block;
    width: 80px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    margin-right: 100px;
    order: -1;
}

.menu ul ul{
    display: none;
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    z-index: 2;
}

.menu ul ul li{
    width: 150px;
    height: 40px;
    font-size: 18px;
    border-top: 2px solid #9e9e9e;
    
}

.menu ul ul li:hover{
    background-color: dodgerblue;
}

.menu ul li:hover ul{
    display: block;
    text-align: left;
    line-height: 30px;
    position: absolute;
}

/* 본문 */

/* 슬라이드 화면 */
.Slidesbackground {
    margin: 0;
    padding: 0;

}
.slideshow-image{
    border-radius:0%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}
.mySlides {
    border-radius:0%;
    width: 1560px;
    height: 685px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.slideshow-container {
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/* 슬라이드 화면 */

/* 슬라이드 버튼 */
#container { width: 1560px; margin: auto; }
.slide_wrap { position: relative; width: 1560px; height: 685px; margin: auto; padding-top: 30px; padding-bottom: 30px; }
.slide_box { width: 100%; margin: auto;  } 
.slide_content { display: table; float: left; width: 400px; height: 400px; }
.slide_content > p { display: table-cell; vertical-align: middle; text-align: center; font-size: 100px; font-weight: bold; color: #555; }
.slide_btn_box > button { position: absolute; top: 50%; margin-top: -45px; width: 60px; height: 60px; font-size: 50px; color: #999; background: none; border: 0px solid #ddd; cursor: pointer; }
.slide_btn_box > .slide_btn_prev { left: 0px; }
.slide_btn_box > .slide_btn_next { right: 0px; }
.slide_pagination { position: absolute; left: 50%; bottom: 0; list-style: none; margin: 0; padding: 0; transform: translateX(-50%); }
.slide_pagination .dot { display: inline-block; width: 15px; height: 15px; margin: 0 5px; overflow: hidden; background: #ddd; border-radius: 50%; transition: 0.3s; }
.slide_pagination .dot.dot_active { background: #333; }
.slide_pagination .dot a { display: block; width: 100%; height: 100%; }
/* 슬라이드 버튼 */

/*메인 뉴브랜드*/
.new_design{
        background-color: #eef1f6;
        margin: 20px;
        padding-top: 50px;
}

/*메인 뉴브랜드 로고*/
.new_design_radius{
        margin: 0 auto;
        width: 11em;
        height: 4em;
        border: 1px solid #6B95BB;
        border-radius: 100%;;
}

.new_design_logo{
        text-align: center;
        font-size: 25px;
        line-height: 0.5    ;
        font-weight: 600;
        color: #6B95BB;
}
/*메인 뉴브랜드 로고*/

/*메인 뉴브랜드 제품*/
.new_design_img{
        display: flex;
        justify-content: space-between;
        margin-left: 150px;
        margin-right: 150px;
        text-align: center;
}

.new_design_img2{
        display: flex;
        justify-content: space-between;
        margin-left: 150px;
        margin-right: 150px;
        text-align: center;
}

.product_img{
        width: 380px;
        height: 532px;   
}

.new_design_hr{
    width: 380px;
}

.img_into{
    text-align: left;
    color: #6B95BB;
}
/*메인 뉴브랜드 제품*/

/*footer*/
#wrap {
min-height: 100vh; /* 화면 높이와 동일한 최소 높이 설정 */
position: relative; /* 상대 위치 설정 */
}

	
footer{
	margin-left:0;
	width: 100%;
	height: 200px;		/*내용물에 따라 값 설정*/
    bottom: 0px;
	left: 0;
	position: relative;
	border-top:  1px solid #6B95BB;
	padding-top: 15px;
	background-color: #6B95BB;
	font-size: 11px;
}

.footer{
	color: whitesmoke;
	display: flex;
	margin-left: 90px;
}
	
footer a{
	display: block;
	padding-right: 28px;
	margin-bottom: 20px;
	color: whitesmoke; font-size: 13px;
	text-decoration: none;
	font-weight: bold;
	margin-left: 10px;
}
	
	
	
footer p{
	display: inline-block;
	color: whitesmoke; font-size: 13px;
	text-decoration: none;	
}
	
footer p span{
	display: inline-block;
	font-family: 'Noto Sans KR', sans-serif;
    margin-left: 100px;
	margin-bottom: 10px;	
}

